body {
    background-image: url(./fundo.png);
    background-repeat: no-repeat;
    background-position: top center ;
    background-size: cover;
    height: 100vh;
    padding-left:10%;
    padding-right: 20%;
    padding-top: 10%;
    color: #9803fc;
     font-family: Arial, sans-serif;
}

h1 {
    font-size: 36px; 
}

h2 {
    font-size: 24px; 
}

p {
    font-size: 18px; 
}

ul {
    list-style-type: none; 
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: #DA70D6; 
    text-decoration: none; 
}

a:hover {
    text-decoration: underline; 
}
