body {
    background-image: url(./fundo.png);
    background-repeat: no-repeat;
    background-position: top center ;
    background-size: cover;
    height: 100vh;
    padding-left:10%;
    padding-right: 20%;
    padding-top: 10%;

h1 {
    color: #ba70da;
    font-size: 36px; 
}

h2 {
    color: #ba70da;
    font-size: 24px; 
}

p {
    font-size: 18px; 
}

ul {
    list-style-type: none; 
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: #ba70da; 
    text-decoration: none; 
}

a:hover {
    text-decoration: underline; 
}